@model  Services.Model.DigitalResourceModel
@using  Services.Model
@{
    ViewBag.Title = "DisplayContent";
    CategoryModel category = ViewBag.category;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2"><img src="@category.URL" alt="@category.Name" class="img-responsive img-thumbnail" /></div>
            <div class="col-md-4">@category.Name</div>
        </div>
    </div>
    <br />
    @if (Model.MasterModelList.Count > 0)
    {
        foreach (var i in Model.MasterModelList)
        {
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8"><img src="@category.URL" alt="@category.Name" class="img-responsive img-thumbnail" /></div>
                    <div class="col-md-4">@category.Name</div>
                </div>
            </div>
            <br />
        }
    }

    
</div>

