@model Services.Model.DigitalResourceMasterModel
<div class="panel panel-default">
    <div class="list-group-item active">Edit Weekly Plan</div>
</div>
<div class="row">
    <div class="col-md-4">Major Category <br /> @Model.Category</div>
    <div class="col-md-4">Category <br /> @Model.Category</div>
    <div class="col-md-4">Creation Date <br /> @Model.CreatDate</div>
</div>
@using (Html.BeginForm("EditPost", "DigitalResourcesApproval", FormMethod.Post, new { id = "prodForm", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.FinalCategoryId)
    <div class="panel panel-default">
        <div class="list-group-item active">@Model.Category</div>
    </div>
    <div class="row">
        <div class="col-md-6">@Model.Category</div>
        <div class="col-md-6">@Html.TextAreaFor(x => Model.DescriptionShort, new { @class = "form-control", @readonly = "readonly", id = "teacherremarks" })</div>
    </div>
    <div class="row">
        <div class="col-md-6">Attachment</div>
        <div class="col-md-6">
            @for (var i = 0; i <= ViewBag.count; i++)
            {
                @Html.HiddenFor(x => @Model.DigitalResourceFiles[i].Id)
                <a href="#">@Model.DigitalResourceFiles[i].ShowFileName</a>
                @Html.CheckBoxFor(x => Model.DigitalResourceFiles[i].IsActive, new { id = "fileactive" })
                <br />
            }
            <input type="file" name="files" Multiple = "multiple" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">Same as Teacher @Html.CheckBox("check", new { id = "allgeneral" })</div>
    </div>
    <div class="row">
        <div class="col-md-6">Admin Remarks</div>
        <div class="col-md-6">@Html.TextAreaFor(x => Model.AdminRemarks, new { @class = "form-control", id = "hosremarks" })</div>
    </div>
    @Html.CheckBoxFor(x => Model.IsApproved)<span>Approved?</span><br />
    <input type="submit" value="Update" class="btn btn-success" />
}
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#fileifremove").hide();
    });
    $(document).on("change", "#allgeneral", function (){
        var check = $(this).is(':checked');
        var remarks = $("#teacherremarks").val();
        if (check==true)
        {
            $("#hosremarks").val(remarks);
        }
        else
        {
            $("#hosremarks").val("");
        }
    });
    $(document).on("change", "#fileactive", function () {
        var check = $(this).is(':checked');
        $(this).prop('checked', check);
        if (check) { $("#fileifremove").hide(); }
        else { $("#fileifremove").show(); }
    });
</script>