@model  AlnahdAweeklyPlans.Models.SendEmailViewModel
<style>
    .title {
        height: 15% !important;
    }
    .red {
        background-color: red;
        color: white;
        margin-bottom: 10px;
    }
    .blue {
        background-color: blue;
        color: white;
        margin-bottom:10px;
    }
    .green {
        background-color: green;
        color: white;
        margin-bottom: 10px;
    }
    .pink {
        background-color: hotpink;
        color: white;
    }
    .facircl {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;
    }
    .right {
        position: fixed;
        right: 0px;
        bottom: 55px;
        margin-bottom:40px;
        height:100px;        
        z-index: 10;
    }
    .no {
        transition: 0.5s;
        width: 0px;
        right: 0px;
    }
    .yes {
        width: 20px;
        right: 75px;
        transition: 0.5s;
    }
    a{
        color:black;
    }
        a:hover {
            color: black;
            text-decoration:none;
        }
    td:hover{
        background-color:#f5f2f2;
    }
</style>
<div class="row">
    <div class="col-md-12" id="title">
        <div class="row well-lg alert-success">
            <div class="col-md-3">
                Title

            </div>
            <div class="col-md-3">
                Search

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border-right:solid">
            <ul class="list-group">
                <li class="list-group-item"><a href="#"  id="sendemailmodel">New<span class="glyphicon glyphicon-envelope"></span></a></li>
                <li class="list-group-item"><a href="#" id="temphref">Templates<span class="glyphicon glyphicon-envelope"></span></a></li>
                <li class="list-group-item"><a href="#" id="Inboxhref">Inbox<span class="glyphicon glyphicon-inbox"></span><span class="badge red" id="Inboxcount">@((Model.responce==null)? 0:Model.responce.Inboxcount)</span></a></li>
                <li class="list-group-item"><a href="#" id="Senthref">Sent <span class="glyphicon glyphicon-send"></span><span class="badge blue" id="Sentcount">@((Model.responce == null) ? 0 : Model.responce.Sentcount)</span></a></li>
                <li class="list-group-item"><a href="#" id="Drafthref">Draft <span class="glyphicon glyphicon-envelope"></span><span class="badge green" id="Draftcount">@((Model.responce == null) ? 0 : Model.responce.Draftcount)</span></a></li>
                <li class="list-group-item"><a href="#">Delete<span class="glyphicon glyphicon-remove"></span><span class="badge pink">4</span></a> </li>
            </ul>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered" id="emailtable">
                <thead>
                    <tr id="generalifhide">
                        <th>@Html.CheckBox("check", new { id = "generalall"})</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="StudentEmailMaster">
                    @foreach (var i in Model.StudentEmailMasterList)
                    {
                        <tr>
                            <th class="col-md-1">@Html.CheckBox("nw", new { id = "id", @class = "checkit" })</th>
                            <td class="modlel">
                                <a href="#">
                                    <img src="~/Images/Mailes/@i.StudentEmailFiles.FirstOrDefault().URL" alt="@i.Subject" class="img-circle img-responsive" style="margin-top:15px; height:40px;width:40px;;float:left" />
                                    <h5>From: @i.School</h5>
                                    <p>@i.Subject</p>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="right no" id="show">
    <div class="row">
        <div class="col-md-1"><span class="facircl fa fa-2x  fa-envelope blue"></span></div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="facircl fa fa-2x  fa-inbox red"></span></div>
    </div>
    <div class="row">
        <div class="col-md-1"><span class="facircl fa fa-2x  fa-remove green"></span></div>
    </div>
</div>
@using (Html.BeginForm("Sendemails", "EmailController", FormMethod.Post, new { id = "template", enctype = "multipart/form-data", @class = "form-horizontal tempevent" }))
{
<div class="modal fade" id="emailmodel" role="dialog">

    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Email</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(x => x.Id, new { id="hiddenid"})
                <div class="row">
                    
                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.multiselectedemailmstr, @Model.CommunicationMstSelectList, new { @class = "form-control selectpicker", id = "selectpicker", multiple = "multiple", PlaceHolder = "To" })
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group detail">
                            
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", PlaceHolder = "Subject",id= "Subject" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.TextAreaFor(x => x.EmailBody, new { @class = "form-control ckeditor",id= "EmailBody"})
                </div>
                @Html.TextBox("file", null, new { type = "file", Multiple = "multiple" })
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="submitbtn">Send</button>
                <input type="button"  value="Save as Template"  class="btn btn-success store" id="SAT"/>
                <input type="button"  value="Send & Save as Template" class="btn btn-success store" id="SATAS" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
}
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        //$(".selectpicker").selectpicker();
        $("#generalifhide").hide();
        var d =@Model.StudentEmailMasterList.Count();
        if (d > 0)
        {
            $("#generalifhide").show();
        }
        window.setInterval(function () {
            debugger;
            var Id =$("#hiddenid").val();
            var Subject = $("#Subject").val();
            var Indivisuald = $("#Indivisuald").val();
            var body = CKEDITOR.instances.EmailBody.getData();
            debugger
            if (body != "" || Subject != "" || Indivisuald != undefined)
            {
                var email = new FormData();
                if (body != "")
                {
                    email.append("EmailBody", body);
                }
                if (Id != "")
                {
                    email.append("Id", Id);
                }
                email.append("Subject", Subject);
                email.append("Indivisuald", Indivisuald);
                for (var i = 0; i < file.length; i++) {
                    email.append('file' + i, file[i]);
                }
                $.ajax({
                    url: "/EmailController/draftemails",
                    type: "post",
                    data: email,
                    processData: false,
                    dataType: "JSON",
                    contentType: false,
                    success: function (response) {
                        $("#hiddenid").val(response.Id);
                        var count = $("#hiddenid").val();
                        $("#draftcount").text(response.Draftcount);
                    },
                    error: function () {
                        alert("Error! could not Saved");
                    }
                });
            }
        }, 10000);
    });
    $(document).on("click", ".store", function () {
        debugger
        var Id = $("#hiddenid").val();
        var Subject = $("#Subject").val();
        var Indivisuald = $("#Indivisuald").val();
        var body = CKEDITOR.instances.EmailBody.getData();
        var SaveType = $(this).attr("id");
        var email = new FormData();
        if (body != "") {
            email.append("EmailBody", body);
        }
        email.append("SaveType", SaveType);
        if (Id != "") {
            email.append("Id", Id);
        }
        email.append("Subject", Subject);
        for (var i = 0; i < file.length; i++) {
            email.append('file' + i, file[i]);
        }
        $.ajax({
            url: "/EmailController/sendemailt",
            type: "post",
            data: email,
            processData: false,
            dataType: "JSON",
            contentType: false,
            success: function (response) {
                alert("Hi");
            },
            error: function () {
                alert("Error! could not Saved");
            }
        });

    });
    $(".tempevent").keyup(function (e) {
            alert("hi");
    });
    $(".modlel").click(function () {
        $("#myModal").modal("show");
    });
    $("#sendemailmodel").click(function () {
        $("#emailmodel").modal("show");
    });
    $("#templateemail").click(function () {
        $("#emailtemplate").modal("show");
    });
    
    $(document).on("change", ".checkit", function () {
        var check = $(this).is(':checked');
        //$('input:checkbox').prop('checked', check);
        $(this).prop('checked', check);
        if (check) {
            $("#show").removeClass('no').addClass('yes');
        }
        else {
            $("#show").removeClass('yes').addClass('no');
        }
    });
    $(document).on("change", "#generalall", function () {
        var check = $(this).is(':checked');
        $('input:checkbox').prop('checked', check);
        //$(this).prop('checked', check);
        if (check) {
            $("#show").removeClass('no').addClass('yes');
        }
        else {
            $("#show").removeClass('yes').addClass('no');
        }
    });
    $(document).on("change", "#selectpicker", function () {
      var  ids= $(this).val();
      $.ajax({
          url: "/EmailController/loaddetail/?ids=" + JSON.stringify(ids),
            success: function (data) {
                $(".detail").html("");
                $(".detail").html(data);
            }
        });

    });
    $(document).on("click", "#Inboxhref", function () {
        $.ajax({
            url: "/EmailController/GetMailsByType/?type=Inbox",
            success: function (data) {
                debugger
                $("#generalifhide").show();
                $("#StudentEmailMaster").html("");
                if (data != "") {
                    $("#generalifhide").show();
                    $("#StudentEmailMaster").html(data);
                }
                else
                {
                    $("#generalifhide").hide();
                    var tr = "<tr><td>No data Found</th></tr>";
                    $("#StudentEmailMaster").html(tr);
                }
            }
        });

    });
    $(document).on("click", "#Drafthref", function () {
        $.ajax({
            url: "/EmailController/GetMailsByType/?type=Draft",
            success: function (data) {
                $("#generalifhide").show();
                $("#StudentEmailMaster").html("");
                $("#StudentEmailMaster").html(data);
                if (data != "") {
                    $("#generalifhide").show();
                }
                else {
                    $("#generalifhide").hide();
                    var tr = "<tr><td>No data Found</th></tr>";
                    $("#StudentEmailMaster").html(tr);
                }
            }
        });

    });
    $(document).on("click", "#Senthref", function () {
        $.ajax({
            url: "/EmailController/GetMailsByType/?type=Sent",
            success: function (data) {
                $("#generalifhide").show();
                $("#StudentEmailMaster").html("");
                $("#StudentEmailMaster").html(data);
                if (data != "") {
                    $("#generalifhide").show();
                }
                else {
                    $("#generalifhide").hide();
                    var tr = "<tr><td>No data Found</th></tr>";
                    $("#StudentEmailMaster").html(tr);
                }
            }
        });

    });
    $(document).on("click", "#temphref", function () {
        $.ajax({
            url: "/EmailController/GetMailsByType/?type=temp",
            success: function (data) {
                $("#generalifhide").show();
                $("#StudentEmailMaster").html("");
                $("#StudentEmailMaster").html(data);
                if (data != "") {
                    $("#generalifhide").show();
                }
                else {
                    $("#generalifhide").hide();
                    var tr = "<tr><td>No data Found</th></tr>";
                    $("#StudentEmailMaster").html(tr);
                }
            }
        });

    });
    
    $("#submitbtn").on("click", function () {
        var Value=[];
        $('#Indivisuald').each(function () {
             Value = $(this).val();

        });
        debugger
        if (Value.length == 0) {
            $('#Indivisuald option').each(function () {
                var valeo = $(this).val();
                $(this).prop('selected', true);

            });
        }
    });

</script>